body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: #ddd;
    padding: 70px;
 
}


.footer-content {
    max-width: 1000px;
  margin: 0 auto;
    display: flex; /* Enable Flexbox */
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1em; /* Adjust font size for the logo */
    display: flex;
   text-align: left;
    margin-left: 20px;
}
.logo span {
    font-size: 1.2em;
    margin-right: 5px;
}

.social-icons {
    display: flex;
  }

.social-icons a {
    color: #ddd;
  display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 0 5px; /* some spacing*/
  background-color: #383f4d;
    text-decoration: none;

}

.social-icons a i {
    font-size: 1.2em; /*adjust the size of the icon*/
}

.copyright{
    font-size: 0.8em;
    margin-top: 30px;
    text-align: center;
    
}
/* Media query for smaller screens (mobile) */
@media (max-width: 480px) {
  .footer-content {
    flex-direction: column;
        align-items: center;
    }
        .logo, .social-icons {
      margin-bottom: 10px;
  }
    .social-icons a {
      margin: 0 3px; /* smaller icons for mobile*/
  }


}


